</div>
<!-- Remove the container if you want to extend the Footer to full width. -->

<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #095ad5">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: CTA -->
    <section class="">
      <p class="d-flex justify-content-center align-items-center">
        <span class="me-3">Register for free</span>
        <button type="button" class="btn btn-outline-light btn-rounded">
          Sign up!
        </button>
      </p>
    </section>
    <!-- Section: CTA -->

    <hr class="mb-4" />

    <!-- Section: Social media -->
    <section class="mb-4 text-center">

      <!-- Facebook -->

      <a href="https://www.facebook.com" class="fa fa-facebook"></a>

      <!-- Twitter -->
      <a href="https://twitter.com" class="fa fa-x-twitter">X</a>
      <!-- Google -->
      <a href="https://google.com" class="fa fa-google"></a>

      <!-- Instagram -->
      <a href="https://instagram.com" class="fa fa-instagram"></a>

      <!-- Linkedin -->

      <a href="https://linkedin.com" class="fa fa-linkedin"></a>

      <!-- Youtube -->

      <a href="https://youtube.com" class="fa fa-youtube"></a>

      <!-- Github -->
      <a href="https://youtube.com" class="fa fa-github"></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3">
    © 2023 Copyright:
    <a class="text-white">Abid Wani</a>
  </div>
  <!-- Copyright -->
  </div>
  </div>
</footer>
</body>

</html>