<%- include("partials/header"); -%>
<div class="container">
    <h1 class="about">This is about me! <br>
        This is about me! <br>
        This is about me! <br>
        This is about me! <br>
        This is about me!<br>
        This is about me!<br>
        This is about me!<br>
        This is about me!<br>
        This is about me!</h1>
</div>
    
<%- include("partials/footer"); -%>